---
layout: board/board
---
<article class="unit-article layout-page">
    <div class="unit-inner unit-article-inner">
        <div class="content">
            <div class="bd article-content">
                <div class="entry-content">
                    {{ content }}
                </div>
            </div>

            <footer class="unit-foot">
                <div class="unit-inner unit-foot-inner">
                    <p>
                        <a class="internal gotop" href="#page">{{ site.data.i18n[site.lang].back_to_top }}</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</article>