<header class="the-header">
    <div class="unit-head">
        <div class="unit-inner unit-head-inner">
            <nav class="nav-global">
                <ul>
                    <li class="logo">
                        <button class="btn-menu" title="{{ site.data.i18n[site.lang].menu }}"></button>
                        <a href="{{ site.paths.blog | relative_url }}">{{ site.title }}</a>
                        <!--[if !IE]> -->
                        <button class="btn-search" title="{{ site.data.i18n[site.lang].search }}"></button>
                        <!-- <![endif]-->
                    </li>
                    <li class="nav-link"><a label="article" title="{{ site.data.i18n[site.lang].articles }}" href="{{ site.paths.blog | relative_url }}">{{ site.data.i18n[site.lang].articles }}</a></li>
                    <li class="nav-link"><a label="category" title="{{ site.data.i18n[site.lang].categories }}" href="{{ site.paths.categories | relative_url }}">{{ site.data.i18n[site.lang].categories }}</a></li>
                    <li class="nav-link"><a label="tag" title="{{ site.data.i18n[site.lang].tags }}" href="{{ site.paths.tags | relative_url }}">{{ site.data.i18n[site.lang].tags }}</a></li>
                    <li class="nav-link"><a label="book" title="{{ site.data.i18n[site.lang].reader }}" href="{{ site.paths.reader | relative_url }}">{{ site.data.i18n[site.lang].reader }}</a></li>
                    <li class="nav-link"><a label="learn" title="{{ site.data.i18n[site.lang].learner }}" href="{{ site.paths.learner | relative_url }}">{{ site.data.i18n[site.lang].learner }}</a></li>
                    <li class="nav-link"><a label="life" title="{{ site.data.i18n[site.lang].life_news }}" href="{{ site.paths.life_news | relative_url }}">{{ site.data.i18n[site.lang].life_news }}</a></li>
                    <li class="nav-link"><a label="letter" title="{{ site.data.i18n[site.lang].letter }}" href="{{ site.paths.letter | relative_url }}">{{ site.data.i18n[site.lang].letter }}</a></li>
                    <li class="nav-link"><a label="song" title="{{ site.data.i18n[site.lang].song }}" href="{{ site.paths.song | relative_url }}">{{ site.data.i18n[site.lang].song }}</a></li>
                    <li class="nav-link"><a label="family" title="{{ site.data.i18n[site.lang].family }}" href="{{ site.paths.family | relative_url }}">{{ site.data.i18n[site.lang].family }}</a></li>
                    <li class="nav-link"><a label="other" title="{{ site.data.i18n[site.lang].other }}" href="{{ site.paths.other | relative_url }}">{{ site.data.i18n[site.lang].other }}</a></li>
                    <!--[if !IE]> -->
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].search }}" class="btn-search" href="#">{{ site.data.i18n[site.lang].search }}</a></li>
                    <!-- <![endif]-->
                </ul>
            </nav>
        </div>
    </div>
</header>
