<header class="the-header">
    <div class="unit-head">
        <div class="unit-inner unit-head-inner">
            <nav class="nav-global">
                <ul>
                    <li class="logo">
                        <button class="btn-menu" title="{{ site.data.i18n[site.lang].menu }}"></button>
                        <a href="{{ site.paths.blog | relative_url }}">{{ site.title }}</a>
                        <!--[if !IE]> -->
                        <button class="btn-search" title="{{ site.data.i18n[site.lang].search }}"></button>
                        <!-- <![endif]-->
                    </li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].articles }}" href="{{ site.paths.blog | relative_url }}">{{ site.data.i18n[site.lang].articles }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].categories }}" href="{{ site.paths.categories | relative_url }}">{{ site.data.i18n[site.lang].categories }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].tags }}" href="{{ site.paths.tags | relative_url }}">{{ site.data.i18n[site.lang].tags }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].reader }}" href="{{ site.paths.reader | relative_url }}">{{ site.data.i18n[site.lang].reader }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].learner }}" href="{{ site.paths.learner | relative_url }}">{{ site.data.i18n[site.lang].learner }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].life_news }}" href="{{ site.paths.life_news | relative_url }}">{{ site.data.i18n[site.lang].life_news }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].letter }}" href="{{ site.paths.letter | relative_url }}">{{ site.data.i18n[site.lang].letter }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].qq_zone }}" href="{{ site.paths.qq_zone | relative_url }}">{{ site.data.i18n[site.lang].qq_zone }}</a></li>
                    {% if site.live2dgirl %}
                    <li class="nav-link"><a title="召唤萌妹" class="btn-init-live2dgirl" href="#">萌妹</a></li>
                    {% endif %}
                    <!--[if !IE]> -->
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].search }}" class="btn-search" href="#">{{ site.data.i18n[site.lang].search }}</a></li>
                    <!-- <![endif]-->
                </ul>
            </nav>
        </div>
    </div>
</header>
