@font-face {
  /* 信笺体 */
  font-family: "Letter";
  src: url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/letter.eot");
  src: url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/letter.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/letter.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/letter.ttf") format("truetype"),
    url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/letter.svg") format("svg");
}
@font-face {
  /* 高晓羽简体 */
  font-family: "GuoxiaoyuChinese";
  src: url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/guoxiaoyu-chinese.eot");
  src: url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/guoxiaoyu-chinese.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/guoxiaoyu-chinese.ttf") format("truetype"),
    url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/guoxiaoyu-chinese.svg") format("svg");
}
@font-face {
  /* 爱情体 */
  font-family: "Love";
  src: url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/love.eot");
  src: url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/love.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/love.ttf") format("truetype"),
    url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/love.svg") format("svg");
}
@font-face {
  /* 迷你硬体信体 */
  font-family: "MiniBlockLetters";
  src: url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/mini-block-letters.eot");
  src: url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/mini-block-letters.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/mini-block-letters.ttf") format("truetype"),
    url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/mini-block-letters.svg") format("svg");
}
@font-face {
  /* 迷你简体丫丫 */
  font-family: "MiniSimpleYY";
  src: url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/mini-simple-yy.eot");
  src: url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/mini-simple-yy.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/mini-simple-yy.ttf") format("truetype"),
    url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/mini-simple-yy.svg") format("svg");
}
@font-face {
  /* 庞中华钢笔简体 */
  font-family: "PengzhonghuaPencil";
  src: url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/pengzhonghua-pencil.eot");
  src: url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/pengzhonghua-pencil.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/pengzhonghua-pencil.ttf") format("truetype"),
    url("https://cdn.jsdelivr.net/gh/petterobam/picture-bucket@main/fonts/pengzhonghua-pencil.svg") format("svg");
}
