<script type="text/javascript">
var post_list = [];
$(function() {
function mutilineStr(fn) {
    return fn.toString().split('\n').slice(1,-1).join('\n') + '\n';
}
var i = 0;
{% for post in dist_post_list %}

{% capture next_year %}{{ this_year }}{% endcapture %}
{% capture next_month %}{{ this_month }}{% endcapture %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% capture this_month %}{{ post.date | date: "%m" }}{% endcapture %}
{% capture this_day %}{{ post.date | date: "%d" }}{% endcapture %}
{% capture this_date %}{{ post.date | date: "%Y-%m-%d" }}{% endcapture %}
post_list[i] = {};
post_list[i].layout = "{{ post.layout }}";
post_list[i].next_year = "{{ this_year }}";
post_list[i].next_month = "{{ this_month }}";
post_list[i].this_year = "{{ this_year }}";
post_list[i].this_month = "{{ this_month }}";
post_list[i].this_day = "{{ this_day }}";
post_list[i].date = "{{ this_date }}";
post_list[i].content = mutilineStr(function(){/*
{{ post.content }}
*/});
post_list[i].title = "{{ post.title }}";
post_list[i].url = "{{ post.url }}";
post_list[i].description = "{{ post.description }}";
i++;

{% endfor %}
});
</script>