---
layout: reader/reader_page
title: 读书手扎
header: 读书手扎
description: "这里展示了读书手扎."
group: navigation
---
<br/>
<div class="container">
    <div id="book-list" class="row">
        <div class="archive" >
            {% assign book_post_list = site.book_posts | sort: 'date' | reverse %}
            {% for post in book_post_list %}
                {% if post.layout == 'book_post' %}
                <div class="book-thumbnail">
                    <a href="{{ post.book_url | default: post.url }}" target="_blank" title="{{ post.book_name }}">
                        <img src="{{ post.img_url }}" alt="{{ post.book_name }}" />
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="{{ post.book_url | default: post.url }}" target="_blank" title="{{ post.book_name }}">{{ post.book_name }}</a>
                        </h3>
                        <a href="{{ post.book_url | default: post.url }}" target="_blank" title="{{ post.description }}">
                            <p class="book-content">{{ post.description }}</p>
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
