<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/blog.css' rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/reader/static/css/book.css" type="text/css"/>
    {% include common/libraries.html %}
</head>

<body>
    {% include common/notices.html %}
    {% include blog/overlay.html %}

    <div id="page" class="hentry">
        {% include blog/header.html %}

        <div class="body animated fadeInDown" role="main">
            <div class="unit-body">
                <div class="unit-inner unit-body-inner">
                    <div class="entry-content">
                        <header>
                            <h1 id="big-title">《遇见未知的自己》摘录</h1>
                        </header>
                        <div class="main-content">
                            <div class="nav-container">
                                <nav>
                                    <div class="menubar">
                                        <a class="button" id="mediaMenubar">&#9776;&nbsp;目录索引</a><span class="small-title">《遇见未知的自己》摘录</span>
                                    </div>
                                    <div id="java-nav-directory"></div>
                                    <div id="js-nav-directory"></div>
                                </nav>
                            </div>
                            <div id="article-container" class="article-container">
                                <article id="article-content">
                                    {{ content }}
                                </article>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
                <div class="misc-content">
                    <!-- gitment -->
                    {% if site.gitment.owner and site.gitment.repo and site.gitment.oauth_client_id and site.gitment.oauth_client_secret %}
                    {% include common/gitment.html %}
                    {% endif %}
                    <!-- utterances -->
                    {% if site.utterances.enable %}
                    {% include common/utterances.html %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% include blog/footer.html %}
    </div>
    {% if site.directory %}
        <script type="text/javascript" src="{{ site.baseurl }}/reader/static/js/nav.js"></script>
    {% endif %}
    {% include blog/scripts.html %}
</body>

</html>

